



@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #backgroundImage{
    background-image: url("cPencile.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  h1{
    font-family: 'Reenie Beanie', cursive;
    font-size: 5em;
  }

  h2{
    margin-top: 20%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 4em;
    font-weight: bold;
  }
  .footer{
    background-color: black;
    height: 15vh;
    width: 100%;
  }



}

@media only screen
and (min-width : 481px) {
  #backgroundImage{
    background-image: url("cPencile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  h1{
    font-family: 'Reenie Beanie', cursive;
    font-size: 5em;
  }
  h2{
    margin-top: 20%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 4em;
    font-weight: bold;
  }}
